<div class="card-body">
                <div class="row">
                    <div class="col text-right small"><b>Auðkenni:</b> {{danarbu.id}}</div>
                </div>
                <div class="row detailsRow">
                    <div class="col"><b>Kyn:</b> {{danarbu.kyn.name}}</div>
                    <div class="col"><b>Staða:</b> {{danarbu.stada or "Óskráð"}}</div>
                    <div class="col"><b>Fæðing:</b> {{dags.faeding or "Óskráð"}}</div>
                    <div class="col"><b>Andlát:</b> {{dags.andlat or "Óskráð"}}</div>
                </div>
                <div class="row detailsRow">
                    <div class="col">

                        <div class="row">
                            <div class="form-check">
                                <div class="col">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-check">
                                <div class="col">

                                    {% if danarbu.lifandi %}
                                    <div class="row">
                                    <div class="col">
                                    <input type="checkbox" class="form-check-input" onClick="return false" checked>
                                    <label class="form-check-labelledby">Er lifandi</label>

                                    </div>
                                    </div>
                                    {% endif %}

                                    {% if danarbu.danarbu.value == 1 %}
                                    <div class="row">
                                    <div class="col">
                                    <input type="checkbox" class="form-check-input" onClick="return false" checked>
                                    <label class="form-check-labelledby">Dánarbú til</label>

                                    </div>
                                    </div>
                                    {% endif %}

                                    {% if danarbu.skiptabok.value == 1 %}
                                    <div class="row">
                                    <div class="col">
                                    <input type="checkbox" class="form-check-input" onClick="return false" checked>
                                    <label class="form-check-labelledby">Skiptabók til</label>
                                    {% if danarbu.danarbu.value == 3 %}
                                    <input type="checkbox" class="form-check-input sameLineCheckbox" onClick="return false" checked>
                                    <label class="form-check-labelledby sameLineLabel">Lóðseðlar til</label>
                                    {% endif %}

                                    </div>
                                    </div>
                                    {% endif %}

                                    {% if danarbu.uppskrift.value == 1 %}
                                    <div class="row">
                                    <div class="col">
                                    <input type="checkbox" class="form-check-input" onClick="return false" checked>
                                    <label class="form-check-labelledby">Uppboð til</label>

                                    </div>
                                    </div>
                                    {% endif %}


                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col text-right"><b>Uppboð haldið:</b></div><div class="col">{{dags.uppbod or "Á ekki við"}}</div>
                        </div>
                        <div class="row">
                            <div class="col text-right"><b>Skipti framkvæmd:</b></div><div class="col">{{dags.skipti or "Á ekki við"}}</div>
                        </div>
                        <div class="row">
                            <div class="col text-right"><b>Dánarbú skráð:</b></div><div class="col">{{dags.skraning or "Á ekki við"}}</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col text-right"><b>Mat:</b></div><div class="col">{{"{} {}".format(danarbu.mat, "ríkisdalir") if danarbu.mat else "Óskráð" }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><b>Heimildir:</b>
                        {% for heimild in danarbu.heimildir %}
                            <div class="row pl-2">
                                <div class="col">{{heimild.upprunaleg}}</div>
                                <div class="col-6"><a href="{{heimild_tengill}}" target="_blank">{{heimild.tilvisun}}</a></div>
                                <div class="col">{{heimild.tegund}}</div>
                                <div class="col">{{danarbu.sysla_heiti}}</div>
                            </div>
                            <div class="row pl-2">
                                <div class="col">
                                    {% for mynd in heimild.myndir %}
                                    {% if loop.first %}
                                    <b>Myndir</b>
                                    <div class="myndirContainer">
                                    {% endif %}
                                        <a href="/myndir?id={{heimild.id}}&index={{loop.index - 1}}" target="_blank">
                                            <img src="{{mynd.slod}}?w=56&h=56&mode=crop" />
                                        </a>
                                    {% if loop.last %}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {#
                <div class="row detailsRow">
                    <div class="col"><b>Athugasemdir:</b><p>{{danarbu.athugasemdir}}</p></div>
                </div>
                #}

            </div>
