{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="is"{% endblock %}
{% block styles %}
{{super()}}
    <style type="text/css">
    body {
        padding-top: 7em;
    }

    .danarbuSpacer {
        margin-top: 1em;
    }
    .detailsRow {
        border-bottom: 1px solid #aaa;
    }
    input.sameLineCheckbox {
        margin-left: 1.5em;
    }
    .sameLineLabel {
        margin-left: 2.8em;
    }
    .myndirContainer {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .small-number {
        width: 4em;
    }
    </style>
{% endblock %}
{% block title %}Dánarbú - 18. og 19. öld{% endblock %}

{% block navbar %}
<nav class="navbar fixed-top navbar-dark bg-dark" role="navigation">
    <a class="navbar-brand" href="/">Dánarbú - 18. og 19. öld</a>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" action="/{{post_hash}}" id="search_form">
        {{search_form.hidden_tag()}}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">{{ search_form.search_string.label.text}}:</span>
            </div>
                {{search_form.search_string(placeholder="Sláðu inn leitarstreng", class="form-control")}}
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
</svg>
                </button>
            </div>
        </div>
    <a class="btn btn-secondary" data-toggle="collapse" href="#itarleit" role="button" aria-expanded="true" aria-controls="itarleit">Ítarleg leit</a>
        <div class="collapse {{show_advanced_search}}" id="itarleit">
            <div class="card">
                <div class="card-header small">
                Hér eru ýmsir möguleikar til að þrengja leitarniðurstöður, til viðbótar við leitarstrenginn að ofan.
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                {{search_form.sysla_select.label(class="input-group-text")}}
                                </div>
                                {{search_form.sysla_select(class="custom-select form-control")}}
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                {{search_form.sokn_select.label(class="input-group-text")}}
                                </div>
                                {{search_form.sokn_select(class="custom-select form-control")}}
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                {{search_form.baer_select.label(class="input-group-text")}}
                                </div>
                                {{search_form.baer_select(class="custom-select form-control")}}
                            </div>


                        </div>
                        <div class="col">

                            <div class="row mb-3">
                                <div class="col form-inline">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                        {{search_form.tegund_select.label(class="input-group-text")}}
                                        </div>
                                        {{search_form.tegund_select(class="custom-select form-control")}}
                                    </div>
                                    <div class="input-group input-group-sm w-25 ml-2">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">Ár</span>
                                        </div>
                                        {{search_form.ar_fra_input(class="form-control", placeholder="Frá")}}
                                        {{search_form.ar_til_input(class="form-control", placeholder="Til")}}
                                    </div>
                                    <div class="input-group input-group-sm w-25 ml-2">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">Mat</span>
                                        </div>
                                        {{search_form.mat_fra_input(class="form-control", placeholder="Frá")}}
                                        {{search_form.mat_til_input(class="form-control", placeholder="Til")}}
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col form-inline">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                        {{search_form.nafn_input.label(class="input-group-text")}}
                                        </div>
                                        {{search_form.nafn_input(class="form-control")}}
                                    </div>
                                    <div class="input-group input-group-sm ml-2">
                                        <div class="input-group-prepend">
                                        {{search_form.stada_input.label(class="input-group-text")}}
                                        </div>
                                        {{search_form.stada_input(class="form-control basicAutoComplete", autocomplete="off")}}
                                    </div>
                                    <div class="input-group input-group-sm ml-2">
                                        <div class="input-group-prepend">
                                        {{search_form.kyn_select.label(class="input-group-text")}}
                                        </div>
                                        {{search_form.kyn_select(class="custom-select form-control")}}
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col form-inline">
                                    <div class="input-group input-group-sm w-25">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">Aldur</span>
                                        </div>
                                        {{search_form.aldur_fra_input(class="form-control", placeholder="Frá")}}
                                        {{search_form.aldur_til_input(class="form-control", placeholder="Til")}}
                                    </div>
                                    <div class="input-group input-group-sm w-25 ml-2">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">Fæðing</span>
                                        </div>
                                        {{search_form.faeding_fra_input(class="form-control", placeholder="Frá ári")}}
                                        {{search_form.faeding_til_input(class="form-control", placeholder="Til árs")}}
                                    </div>
                                    <div class="input-group input-group-sm w-25 ml-2">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">Andlát</span>
                                        </div>
                                        {{search_form.andlat_fra_input(class="form-control", placeholder="Frá ári")}}
                                        {{search_form.andlat_til_input(class="form-control", placeholder="Til árs")}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                <input type="submit" class="btn btn-primary float-right mr-2 ml-2" value="Leita" />
                </div>
            </div>
        </div>
    </form>
<div class="danarbuSpacer">
</div>


{% block search_results %}
{% endblock %}

<div class="danarbuSpacer">
</div>



</div>


{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

    $("#stada_input").autoComplete({
        resolverSettings: {
            url: "/stada"
        }
    });

    $("#resultModal").on("show.bs.modal", function (e) {
        var button = $(e.relatedTarget);
        var danarbu = button.data("danarbu");
        var nafn = button.data("nafn");
        var artal = button.data("artal");
        $("#resultTitle").text(nafn + ", " + artal);
        $("#abendingButton").attr("href", "mailto:danarbu@skjalasafn.is?subject=Ábending vegna færslu: "+danarbu);
        $.ajax({
            url: "/faersla",
            data: {
                id: danarbu
            },
            success: function (result) {
                $("#resultBody").html(result);
            }
        });
    });

    $("#itarleit").on("shown.bs.collapse", function() {
        $("#show_advanced_search").val("true");
    });

    $("#itarleit").on("hidden.bs.collapse", function() {
        $("#show_advanced_search").val("false");
    });

    $("#sysla_select").on("change", function (e) {
        $("#sokn_select option:not(:first)").remove();
        $("#baer_select option:not(:first)").remove();
        $("#search_form").submit();
    });

    $("#sokn_select").on("change", function (e) {
        $("#baer_select option:not(:first)").remove();
        $("#search_form").submit();
    });
    $("#baer_select").on("change", function (e) {
        $("#search_form").submit();
    });
    $("#tegund_select").on("change", function (e) {
        $("#search_form").submit();
    });
    $("#kyn_select").on("change", function (e) {
        $("#search_form").submit();
    });

});
</script>
{% endblock %}
