{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="is"{% endblock %}
{% block styles %}
{{super()}}
    <style type="text/css">
    body {
        padding-top: 7em;
    }

    .danarbuSpacer {
        margin-top: 1em;
    }
    .detailsRow {
        border-bottom: 1px solid #aaa;
    }
    input.sameLineCheckbox {
        margin-left: 1.5em;
    }
    .sameLineLabel {
        margin-left: 2.8em;
    }
    .myndirContainer {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
    </style>
{% endblock %}
{% block title %}Dánarbú - 18. og 19. öld{% endblock %}

{% block navbar %}
<nav class="navbar fixed-top navbar-dark bg-dark" role="navigation">
    <a class="navbar-brand" href="/">Dánarbú - 18. og 19. öld</a>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <form action="/" method="GET" id="leitarform">
        {{search_form.hidden_tag()}}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">{{ search_form.search_string.label.text}}:</span>
            </div>
                {{search_form.search_string(placeholder="Sláðu inn leitarstreng", class="form-control")}}
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
</svg>
                </button>
            </div>
        </div>
    </form>
    <a class="btn btn-secondary" data-toggle="collapse" href="#itarleit" role="button" aria-expanded="false" aria-controls="itarleit">Ítarleg leit</a>
        <div class="collapse {{show_advanced_search}}" id="itarleit">
            <div class="card card-body">
                Hér kemur ítarleg leit
            </div>
        </div>

<div class="danarbuSpacer">
</div>


{% block search_results %}
{% endblock %}

<div class="danarbuSpacer">
</div>



</div>


{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript">
$(document).ready(function() {
$("#resultModal").on("show.bs.modal", function (e) {
    var button = $(e.relatedTarget);
    var danarbu = button.data("danarbu");
    var nafn = button.data("nafn");
    $("#resultTitle").text(nafn);
    $.ajax({
        url: "/faersla",
        data: {
            id: danarbu
        },
        success: function (result) {
            $("#resultBody").html(result);
        }
    });
});
});
</script>
{% endblock %}
