{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="is"{% endblock %}
{% block styles %}
{{super()}}
<style type="text/css">
    body {
        color: #1a1a1a !important;
    }
    .table {
        color: #1a1a1a !important;
    }
    a {
    color:#951a23;
    text-decoration:none
    }
    a:hover,
    a:focus {
    color:#951a23;
    text-decoration:underline
    }
    a:focus {
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
    }

    .btn-primary {
        background-color: #951a23;
        border-color: #951a23;
    }
    .btn-primary:hover {
        background-color: #c62f2e;
        border-color: #c62f2e;
    }
    .btn-primary:active {
        background-color: #951a23 !important;
        border-color: #951a23 !important;
    }
    .form-control.is-valid:focus, .was-validated :valid.form-control{
        border-color: #ced4da !important;
        background-image: inherit !important;
        box-shadow:inherit !important;
    }

    .page-link,.page-link:hover {
        color: #951a23;
    }

    .page-item.active {

        background-color: #951a23;
        border-color: #951a23;
    }

    .page-item.active .page-link {
    color: #fff;
    background-color: #951a23;
    border-color: #951a23;
    }

    .danarbuSpacer {
        margin-top: 1em;
    }
    .detailsRow {
        border-bottom: 1px solid #aaa;
    }
    input.sameLineCheckbox {
        margin-left: 1.5em;
    }
    .sameLineLabel {
        margin-left: 2.8em;
    }
    .myndirContainer {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .small-number {
        width: 4em;
    }
    .pagination-page-info {
        font-size: small;
    }
    .pagination-page-info b {
        color: #951a23;
    }
    #ti-logo {
        width: 4em;
        height: 3.1em;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(/static/img/ti-logo.svg);
    }
    @media (min-width: 800px) {
        #ti-logo {
            width: 14em;
        }
    }


</style>
{% endblock %}
{% block title %}Dánarbú - 18. og 19. öld{% endblock %}

{% block navbar %}
<nav class="navbar sticky-top navbar-expand-lg container navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <div id="ti-logo" class="d-inline-block"></div>
        Dánarbú - 18. og 19. öld
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Opna leiðarkerfi">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/" class="nav-link {{leit_active}}">Leit</a>
            </li>
            <li class="nav-item">
                <a href="/um" class="nav-link {{um_vefinn_active}}">Um vefinn</a>
            </li>
            <li class="nav-item">
                <a href="/itarefni" class="nav-link {{itarefni_active}}">Ítarefni</a>
            </li>
            <li class="nav-item">
                <a href="/hjalp" class="nav-link {{hjalp_active}}">Hjálp</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-3">
    <form method="POST" action="/{{post_hash}}" id="search_form" class="needs-validation" novalidate>
        {{search_form.hidden_tag()}}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">{{ search_form.search_string.label.text}}:</span>
            </div>
                {{search_form.search_string(placeholder="Nafn, Staða, Sýsla, Sókn", class="form-control")}}
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div id="itarleit">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <!-- Nafn -->
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                {{search_form.nafn_input.label(class="input-group-text")}}
                                </div>
                                {{search_form.nafn_input(class="form-control")}}
                            </div>
                            <!-- Nafn -->
                        </div>
                        <div class="col">
                            <!-- Aldur -->
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                <span class="input-group-text">Aldur</span>
                                </div>
                                {{search_form.aldur_fra_input(class="form-control", placeholder="Frá")}}
                                {{search_form.aldur_til_input(class="form-control", placeholder="Til")}}
                                <div class="invalid-tooltip">Heiltala á milli 0-200 og frá lægra en til</div>
                            </div>
                            <!-- Aldur -->
                        </div>
                        <div class="col">
                            <!-- Stada -->
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                {{search_form.stada_input.label(class="input-group-text")}}
                                </div>
                                {{search_form.stada_input(class="form-control basicAutoComplete", autocomplete="off")}}
                            </div>
                            <!-- Stada -->
                        </div>
                        <div class="col">
                            <!-- Kyn -->
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                {{search_form.kyn_select.label(class="input-group-text")}}
                                </div>
                                {{search_form.kyn_select(class="custom-select form-control")}}
                            </div>
                            <!-- Kyn -->
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">

                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                {{search_form.baer_select.label(class="input-group-text")}}
                                </div>
                                {{search_form.baer_select(class="custom-select form-control")}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                {{search_form.sokn_select.label(class="input-group-text")}}
                                </div>
                                {{search_form.sokn_select(class="custom-select form-control")}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                {{search_form.sysla_select.label(class="input-group-text")}}
                                </div>
                                {{search_form.sysla_select(class="custom-select form-control")}}
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                <span class="input-group-text">Ár</span>
                                </div>
                                {{search_form.ar_fra_input(class="form-control", placeholder="Frá")}}
                                {{search_form.ar_til_input(class="form-control", placeholder="Til")}}
                                <div class="invalid-tooltip">Heiltala á milli 1500-2000 og frá lægra en til</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                <span class="input-group-text">Fæðing</span>
                                </div>
                                {{search_form.faeding_fra_input(class="form-control", placeholder="Frá ári")}}
                                {{search_form.faeding_til_input(class="form-control", placeholder="Til árs")}}
                                <div class="invalid-tooltip">Heiltala á milli 1500-2000 og frá lægra en til</div>
                            </div>
                        </div>
                        <div class="col">

                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                <span class="input-group-text">Mat</span>
                                </div>
                                {{search_form.mat_fra_input(class="form-control", placeholder="Frá")}}
                                {{search_form.mat_til_input(class="form-control", placeholder="Til")}}
                                <div class="invalid-tooltip">Jákvæð heiltala. Frá lægri en til.</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                {{search_form.tegund_select.label(class="input-group-text")}}
                                </div>
                                {{search_form.tegund_select(class="custom-select form-control")}}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col form-inline">
                            <div class="input-group input-group-sm">
                                <input type="reset" class="btn btn-secondary" id="search_form_reset" value="Hreinsa" />
                            </div>
                            <div class="input-group input-group-sm ml-auto">
                                <div class="input-group-prepend">
                                {{search_form.items_per_page_select.label(class="input-group-text")}}
                                </div>
                                {{search_form.items_per_page_select(class="custom-select form-control")}}
                            </div>
                            <div class="input-group input-group-sm ml-3">
                                <input type="submit" class="btn btn-primary" value="Leita" />
                            </div>
                        </div>
                    </div>
 

                </div>
            </div>
        </div>
    </form>
<div class="danarbuSpacer">
</div>


{% block search_results %}
{% endblock %}

<div class="danarbuSpacer">
</div>



</div>


{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

    $("#stada_input").autoComplete({
        resolverSettings: {
            url: "/stada"
        }
    });

    $(".danarbu_result").on("click", function (e) {
        e.preventDefault();
        var button = $(e.currentTarget);
        var danarbu = button.data("danarbu");
        var nafn = button.data("nafn");
        var artal = button.data("artal");
        $("#resultTitle").text(nafn + ", " + artal);
        $.ajax({
            url: "/faersla",
            data: {
                id: danarbu
            },
            success: function (result) {
                $("#resultBody").html(result);
                $("#resultModal").modal("show");
                const url = new URL(window.location);
                url.searchParams.set("danarbu", danarbu);
                window.history.pushState({}, "", url);
                $("#abendingButton").attr("href", "mailto:danarbu@skjalasafn.is?subject=Ábending vegna færslu: "+danarbu+"&body=Vefslóð: "+url);
            }
        });
    });

    $("#resultModal").on("hide.bs.modal", function (e) {
        window.history.back();
    });

    {% if url_danarbu_entry %}
    $("#danarbu_result_{{url_danarbu_entry}}").click();
    {% endif %}

    $("#sysla_select").on("change", function (e) {
        $("#sokn_select option:not(:first)").remove();
        $("#baer_select option:not(:first)").remove();
        $("#search_form").submit();
    });

    $("#sokn_select").on("change", function (e) {
        $("#baer_select option:not(:first)").remove();
        $("#search_form").submit();
    });
    $("#baer_select").on("change", function (e) {
        $("#search_form").submit();
    });
    $("#tegund_select").on("change", function (e) {
        $("#search_form").submit();
    });
    $("#kyn_select").on("change", function (e) {
        $("#search_form").submit();
    });


    $(".needs-validation").each(function (i) {
        $(this).on("submit", function (e) {
            var form = e.currentTarget;
            $("#ar_fra_input")[0].setCustomValidity("");
            $("#ar_til_input")[0].setCustomValidity("");
            $("#mat_fra_input")[0].setCustomValidity("");
            $("#mat_til_input")[0].setCustomValidity("");
            $("#aldur_fra_input")[0].setCustomValidity("");
            $("#aldur_til_input")[0].setCustomValidity("");
            $("#faeding_fra_input")[0].setCustomValidity("");
            $("#faeding_til_input")[0].setCustomValidity("");

            if (form.checkValidity() === false) {
                e.preventDefault();
                e.stopPropagation();
                console.log("Form error.");
            }


            if (
                $("#ar_fra_input").val() != ""
                && $("#ar_til_input").val() != ""
                && $("#ar_til_input").val()*1 < $("#ar_fra_input").val()*1
            ) {
                e.preventDefault();
                e.stopPropagation();
                $("#ar_fra_input")[0].setCustomValidity("Frá hærra en til.");
                $("#ar_til_input")[0].setCustomValidity("Frá hærra en til.");
            }


            if (
                $("#mat_fra_input").val() != ""
                && $("#mat_til_input").val() != ""
                && $("#mat_til_input").val()*1 < $("#mat_fra_input").val()*1
            ) {
                e.preventDefault();
                e.stopPropagation();
                $("#mat_fra_input")[0].setCustomValidity("Frá hærra en til.");
                $("#mat_til_input")[0].setCustomValidity("Frá hærra en til.");
            }


            if (
                $("#aldur_fra_input").val() != ""
                && $("#aldur_til_input").val() != ""
                && $("#aldur_til_input").val()*1 < $("#aldur_fra_input").val()*1
            ) {
                e.preventDefault();
                e.stopPropagation();
                $("#aldur_fra_input")[0].setCustomValidity("Frá hærra en til.");
                $("#aldur_til_input")[0].setCustomValidity("Frá hærra en til.");
            }


            if (
                $("#faeding_fra_input").val() != ""
                && $("#faeding_til_input").val() != ""
                && $("#faeding_til_input").val()*1 < $("#faeding_fra_input").val()*1
            ) {
                e.preventDefault();
                e.stopPropagation();
                $("#faeding_fra_input")[0].setCustomValidity("Frá hærra en til.");
                $("#faeding_til_input")[0].setCustomValidity("Frá hærra en til.");
            }
            form.classList.add("was-validated");

        });
    });

    $("#search_form_reset").on("click", function (e) {
        $(".custom-select").val('').change();
    });

});
</script>
{% endblock %}
