{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="is"{% endblock %}
{% block head %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ga_id}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ga_id}}');
</script>
{{super()}}
{% endblock %}
{% block styles %}
{{super()}}
    <link type="text/css" rel="stylesheet" href="static/css/lightgallery.css" />
    <style type="text/css">
        body {
            background-color: black;
        }

        .lg-close {
            display: None;
        }
    </style>
{% endblock %}
{% block title %}{{heimild.tegund}} - {{heimild.tilvisun}}{% endblock %}


{% block content %}
Hér er ekkert.
{% endblock %}
{% block scripts %}
{{super()}}
<script src="static/js/lightgallery.min.js"></script>
<script src="static/js/lg-fullscreen.min.js"></script>
<script src="static/js/lg-zoom.min.js"></script>
<script src="static/js/lg-thumbnail.min.js"></script>
<script src="static/js/lg-share.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

    $(this).lightGallery({
        closable: false,
        loop: false,
        escKey: false,
        speed: 200,
        preload: 3,
        index: {{upphaf}},
        thumbnail: true,
        fullscreen: true,
        share: true,
        googlePlus: false,
        dynamic: true,
        dynamicEl: [
            {% for mynd in myndir %}
            {
                "src": "{{mynd.slod}}",
                "thumb": "{{mynd.slod}}?w=56&h=56&mode=crop",
                "subHtml": "<h4>{{heimild.tegund}}</h4><p>{{heimild.tilvisun}}</p>"
            }{% if not loop.last %},{% endif %}
            {% endfor %}
        ]
    });
    

});
</script>
{% endblock %}
