{% extends "index.html" %}

{% block search_results %}


<table class="table">
    <thead>
        <tr>
            <th scope="col">Nafn</th>
            <th scope="col">Ártal</th>
            <th scope="col">Aldur</th>
            <th scope="col">Bær</th>
            <th scope="col">Sókn</th>
            <th scope="col">Sýsla</th>
        </tr>
    <thead>
    <tbody>

{% for danarbu in search_results %}
        <tr>
            <td><a href="#" data-toggle="modal" data-target="#resultModal" data-danarbu="{{danarbu.id}}" data-nafn="{{danarbu.nafn}}" data-artal="{{danarbu.artal}}">{{danarbu.nafn or "Óskráð"}}</a></td>
            <td>{{danarbu.artal or "Óskráð"}}</td>
            <td>{{danarbu.aldur or ""}}</td>
            <td>{{danarbu.baer_heiti or "Óskráð"}}</td>
            <td>{{danarbu.sokn_heiti or "Óskráð"}}</td>
            <td>{{danarbu.sysla_heiti or "Óskráð"}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

<div class="modal fade" id="resultModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resultTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="resultBody" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <a role="button" id="abendingButton" class="btn btn-secondary mr-auto" href="#">Senda ábendingu</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Loka</button>
      </div>
    </div>
  </div>
</div>


<div class="danarbuSpacer">
</div>

{{pagination.links}}

{% endblock %}
